.blurb {
  position: relative;
  padding: 1em;
  margin-bottom: 1em;
  .blurb-img {
    width: 4rem;
    height: 4rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
  }
  .blurb-title {
    margin: 0;
    font-size: 24/16*1rem;
  }
  .blurb-content {
    padding: 1em;
    background: #fff;
    position: relative;
  }
  .blurb-link {
    display: block;
    font-size: 24/16 * 1rem;
    line-height: 1;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding: 1rem;
    // accomodate extra space for descender
    padding-bottom: 0.75rem;
    color: #333;
    //border: 1px solid blue;
    text-decoration: none;
  }
}
