@font-face {
  font-family: 'Fira Sans';
  src:
    url('../fonts/Fira-Sans/FiraSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Fira Code';
  src:
    url('../fonts/Fira-Code/FiraCode-Light.otf') format('opentype');
}
