html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Fira Sans', sans-serif;
  background: #f3f3f3;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
}

img {
  max-width: 100%;
}

.line {
  display: block;
}
