
.main-nav {
  position: fixed;
  width: 2em;
  height: 2em;
  background: url('../img/icon-menu.svg') hsla(0,0,0,0.05) no-repeat center;
  background-size: 50%;
  top: 1rem;
  right: 1rem;
  z-index: 100;
  text-indent: -9999em;
  cursor: pointer;
  &:hover {
    background-color: hsla(0,0,0,0.5);
  }
}
