.page-header {
  background: url('../img/bg-page-header.png') repeat-x;
  background-size: auto 100%;
  padding: 1em;
  h1 {
    font-size: 24/16rem;
    line-height: 1.2;
    text-align: center;
    color: hsla(0,0,0%,0.75);
  }
}
