.page-footer {
  background: #aaa;
  color: white;
  p {
    margin: 0;
  }
  .social-media {
    list-style-type: none;
    padding: 0;
    text-align: right;
    a {
      display: block;
      color: white;
      padding: 1em;
    }
    li {
      display: inline-block;
    }
  }
}
